<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirect all requests to public/index.php
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
php_value display_errors On
php_value date.timezone Asia/Manila
